@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #222831;
}

/* Social Media Icons */

.social-container {
    height: 1rem;
    text-align: right;
}

.social li {
    list-style-type: none;
    display: inline-block;
    margin-right: 22px;
    margin-top: 10px;
    vertical-align: middle;
}

.social i {
    font-size: 120%;
    color: #00ADB5;
}

.social i:hover {
    opacity: 0.7;
}